body {
background: linear-gradient(#6A65D8, #1D2786);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 180px;
margin-bottom: 240px;
}

h1 {
  font-weight: lighter;
  font-family: helvetica;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #FFE6EB
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
